<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">





    <bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>


    <!-- Hibernate 5 SessionFactory Bean definition -->
    <bean id="hibernate5AnnotatedSessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="annotatedClasses">
            <list>
                <value>testBook.model.Wp</value>
                <value>testBook.model.Computer</value>
                <value>testBook.model.User</value>
                <value>testBook.model.Monitor</value>
                <value>testBook.model.Printer</value>
                <value>testBook.model.Ups</value>
                <value>testBook.model.Os</value>
                <value>testBook.model.Tram</value>
                <value>testBook.model.Tproc</value>
                <value>testBook.model.Thdd</value>
                <value>testBook.model.Tmother</value>
            </list>
        </property>
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
                </prop>
                <prop key="hibernate.show_sql">true</prop>
            </props>
        </property>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
          destroy-method="close">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://localhost:3306/pc"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </bean>
    <bean id="thddDao" class="testBook.dao.ThddDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="thddService" class="testBook.service.ThddServiceImpl">
        <property name="thddDao" ref="thddDao"/>
    </bean>
    <bean id="tramDao" class="testBook.dao.TramDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="tramService" class="testBook.service.TramServiceImpl">
        <property name="tramDao" ref="tramDao"/>
    </bean>

    <bean id="tprocDao" class="testBook.dao.TprocDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="tprocService" class="testBook.service.TprocServiceImpl">
        <property name="tprocDao" ref="tprocDao"/>
    </bean>

    <bean id="tmotherDao" class="testBook.dao.TmotherDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="tmotherService" class="testBook.service.TmotherServiceImpl">
        <property name="tmotherDao" ref="tmotherDao"/>
    </bean>

    <bean id="computerDao" class="testBook.dao.ComputerDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="computerService" class="testBook.service.ComputerServiceImpl">
        <property name="computerDao" ref="computerDao"/>
    </bean>

    <bean id="monitorDao" class="testBook.dao.MonitorDaoImpl">
    <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="monitorService" class="testBook.service.MonitorServiceImpl">
        <property name="monitorDao" ref="monitorDao"/>
    </bean>

    <bean id="userDao" class="testBook.dao.UserDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="userService" class="testBook.service.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="printerDao" class="testBook.dao.PrinterDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="printerService" class="testBook.service.PrinterServiceImpl">
        <property name="printerDao" ref="printerDao"/>
    </bean>

    <bean id="upsDao" class="testBook.dao.UpsDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="upsService" class="testBook.service.UpsServiceImpl">
        <property name="upsDao" ref="upsDao"/>
    </bean>

    <bean id="osDao" class="testBook.dao.OsDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="osService" class="testBook.service.OsServiceImpl">
        <property name="osDao" ref="osDao"/>
    </bean>

    <bean id="wpDao" class="testBook.dao.WpDaoImpl">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <bean id="wpService" class="testBook.service.WpServiceImpl">
        <property name="wpDao" ref="wpDao" />
    </bean>


    <context:component-scan base-package="testBook"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="hibernate5AnnotatedSessionFactory"/>
    </bean>

    <mvc:default-servlet-handler/>

    <mvc:annotation-driven/>

    <mvc:resources mapping="/css/**" location="/css/" />


</beans>






